fastapi
uvicorn[standard]
httpx
python-dotenv
stripe
SQLAlchemy
Databases
pydantic
pydantic-settings
alembic      # optional for migrations later
aiosqlite    # required for sqlite async driver
psycopg2-binary  # required for PostgreSQL
asyncpg      # required for async PostgreSQL
